%h2 System Information

%ul.tabs#fr-info-tabs-header{'data-tabs' => nil}
  %li.tabs-title.is-active
    %a{href: '#tab-repo-providers', 'aria-selected' => true}
      = mdi_tag('power-plug')
      = translate 'Repository Providers'

#fr-info-tabs.tabs-content{'data-tabs-content' => 'fr-info-tabs-header'}
  .tabs-panel.is-active#tab-repo-providers
    = render partial: 'repo_providers', locals: { repos: FileRouter.repositories }
